# PlatformIO build/cache
.pio/
.pioenvs/
.piolibdeps/
.pio/libdeps/
.pio/build/

# VS Code (sadece belirli dosyaları takip etmek istiyorsan aşağıdaki gibi)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# CLion/CMake vs. (varsa)
cmake-build*/
CMakeFiles/
CMakeCache.txt

# Genel derleme çıktıları
build/
*.o
*.obj
*.a
*.la
*.lo
*.out
*.elf
*.map
*.bin
*.hex
*.log

# OS/IDE çöplükleri
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
